{% extends "layout.html" %}

{% block main %}
    <h3 style="margin-bottom: 7%;">Start a new debate</h3>
    <form action="/create" method="post">
        <select name="debateTopic" class="custom-select" style="margin-bottom: 5%; width: 50%; max-width: 200px;">
            <option selected disabled>Topic</option>
            {% for topic in debateTopics %}
                <option value={{topic}}>{{topic}}</option>
            {% endfor %}
        </select>
        <select name="debateLocality" class="custom-select" style="margin-bottom: 5%; width: 60%; max-width: 300px;">
            <option selected disabled>Locality</option>
            {% for locality in debateLocalities %}
                <option value={{locality}}>{{locality}}</option>
            {% endfor %}
        </select>
        <div class="mx-auto" style="margin-bottom: 5%; height: 150px; width: 80%; max-width: 350px;">
            <textarea name="debateText" autofocus autocomplete="off" spellcheck="false" maxlength="100" rows="2" cols="50" class="form-control" style="width: 100%; height: 100%;" placeholder="Debate teaser">
                {% if teaser %}
                    {{teaser}}
                {% endif %}
            </textarea>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-bottom: 5%">Create</button>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
    </form>
{% endblock %}