{% extends "layout.html" %}

{% block main %}
    <article class="scroller">
        {% if debates == [] %}
         <p>ERROR: no debates to display.</p>
        {% else %}
            {% for debate in debates %}
                <section>
                    <h2>{{debate["text"]}}</h2>
                    <p>{{debate["topic"]}}</p>
                    <p>{{debate["creator"]}}</p>
                    {% if debate["locality"] %}
                        <p>{{debate["locality"]}}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                    <a href="/chat?q={{debate['id']}}" class="btn btn-primary">Participate</a>
                </section>
            {% endfor %}
        {% endif %}
    </article>
{% endblock %}