{% extends "layout.html" %}

{% block main %}
    <h3 style="text-decoration: overline #e74c3c; text-decoration-thickness: 7%; margin-bottom: 7%">Register</h3>
    <div>
        <form action="/register" method="post">
            <div>
                <input name="username" autofocus type="text" class="form-control mx-auto w-auto" style="margin-bottom: 5%" placeholder="Username">
            </div>
            <select name="country" class="custom-select" style="margin-bottom: 5%; width: 60%; max-width: 300px;">
                <option selected disabled>Country</option>
                {% for country in countries %}
                    <option value={{country}}>{{country}}</option>
                {% endfor %}
            </select>
            <div>
                <input name="password" autofocus type="password" class="form-control mx-auto w-auto" style="margin-bottom: 5%" placeholder="Password">
            </div>
            <div>
                <input name="confirmation" autofocus type="password" class="form-control mx-auto w-auto" style="margin-bottom: 5%" placeholder="Confirm password">
            </div>
            <button class="btn btn-primary" type="submit" style="margin-bottom: 5%"> Register </button>
            {% if error %}
                <p style="color: red">{{error}}</p>
            {% else %}
                <br><br>
            {% endif %}
        </form>
        <div>
            <p style="margin-bottom: 1%;"> You already have an account?</p>
            <a class="btn btn-link" href="/login" role="button">Log in</a>
        </div>
    </div>
{% endblock %}
