{% extends "layout.html" %}

{% block main %}
    <input autofocus autocomplete="off" type="text" class="form-control mx-auto w-auto" style="margin-bottom: 4vh;" placeholder="Search">

    <ul class="list-group" style="background-color: #f5f5dc"></ul>

    <script>
        let input = document.querySelector('input');
        input.addEventListener('input', async function() {
            let response = await fetch('/query?q=' + input.value);
            let results = await response.json();
            let html = '';
            for (let id in results) {
                let debateId = results[id][0]
                let debateText = results[id][1].toString().replace('<', '&lt;').replace('&', '&amp;');
                let debateTopic = results[id][2].toString()
                let debateLocality = results[id][3].toString()
                html += '<a href="/chat?q=' + debateId + '" class="list-group-item list-group-item-action" style="margin-bottom: 1vh">' 
                        + '<div style="font-weight: bold;">' + debateText + '</div><div><p style="font-style: italic; display: inline;">' + debateTopic
                        + '</p>{% if' + debateLocality + '!= "None" %}, ' + debateLocality + '{% endif %}</div>' +
                        '</a>';
            }
            if (html == '' &&  input.value != '') {
                html += '<p style="margin-top: 5%; background-color: #f5f5dc">No results</p>';
            }
            document.querySelector('ul').innerHTML = html;
        });
    </script>
{% endblock %}